// MEDIA 991px **********************************
@media (max-width: 991px) {
.header {
    padding: 0 10px;
}
.promo {
    padding: 15px 0 80px 0;
    &__wrapper {
        align-items: center;
    }
}
.consultation {
    padding: 60px 60px;
    min-height: 580px;
    &__descr {
        text-align: center;
}
.title {
    font-size: 32px;
    line-height: 51px;
    &_left {
        text-align: center;
    }
}
}
.carousel {
    padding: 50px 0;
    .prev {
        left: 0px;
    }
    .next {
        right: 0px;
    }
    .tns-item {
        img {
            width: 90%;
        }
    }
}
.catalog {
    padding-bottom: 60px;
    &__content {
        justify-content: space-around;
    }
}
}
// MEDIA 767px **********************************
@media (max-width: 767px) {
.header {
    padding: 0 40px;
    &__official {
        display: none;
    }
}
.advantages {
    h2 {
        font-size: 28px;
        margin: 0;
    }
    &__wrapper {
        margin-top: 55px;
        padding: 0 10px;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__item:last-child {
        margin-top: 20px;
    }
    &__suptitle {
        margin-top: 22px;
    }
    &__descr {
        margin-top: 15px;
    }
}
.consultation {
    min-height: 500px;
    padding: 50px 50зч;
    .title {
        font-size: 29px;
        line-height: 40px;
    }
}
.carousel {
    padding: 40px 0;
    .tns-item {
        img {
            width: 86%;
        }
    }
    .prev {
        left: 10px;
    }
    .next {
        right: 10px;
    }
}
}
// MEDIA 575px **********************************
@media (max-width: 575px) {
.header {
    &__phone {
        font-size: 14px;
        margin-bottom: 5px;
    }
    &__logo {
        width: 200px;
    }
}
.promo {
    padding: 13px 0 60px 0;
    &__header {
        font-size: 32px;
        line-height: 32px;
    }
    &__supheader {
        font-size: 18px;
        line-height: 20px;
    }
    &__icons {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__icon {
        width: 100%;
        margin-bottom: 17px;
        font-size: 14px;
    }
    &__link {
        font-size: 15px;
        margin-top: 15px;
    }
    &__wrapper {
        margin-top: 50px;
    }
}
.button {
    font-size: 11px;
    width: 135px;
    height: 25px;
    &_main {
        height: 40px;
        width: 200px;
        font-size: 13px;
        margin-top: 35px;
    }
    &_submit {
        width: 100%;
        height: 35px;
    }
    &_mini {
        font-size: 13px;
        width: 139px;
        height: 35px;
    }
}
.advantages {
    padding: 40px 0;
    h2 {
        font-size: 23px;
    }
    &__item {
        max-width: 300px;
        margin-top: 15px;
    }
    &__item:first-child {
        margin-top: 0;
    }
    &__item:last-child {
        margin-top: 15px;
    }
    &__wrapper {
        margin-top: 28px;
    }
    &__suptitle {
        margin-top: 18px;
    }
    &__descr {
        margin-top: 12px;
    }
}
.consultation {
    padding: 45px 10px;
    &__descr {
        margin-bottom: 20px;
        font-size: 18px;
    }
    .title {
        font-size: 23px;
    }
}
.feed-form {
    width: 260px;
    display: block;
    margin: 0 auto;
    align-items: center;
    input {
        width: 100%;
        height: 35px;
    }
}
.carousel {
    padding: 30px 0;
}
.catalog {
    padding-bottom: 30px;
    &__tabs {
        flex-direction: column;
        }
    &__tab {
        margin-bottom: 10px;
        }
}
}
// MEDIA 320px **********************************
@media (max-width: 320px) {
.header {
    padding: 0 5px;
    margin: 0;
    &__logo {
        width: 160px;
    }
}
.promo {
    &__header {
        font-size: 22px;
    }
    &__supheader {
        font-size: 13px;
    }
    &__icons {
        width: 320px;
    }
}
.consultation {
    padding: 60px 10px;
    .title {
        font-size: 20px;
        line-height: 27px;
    }
    &__descr {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 25px;
    }
}
.carousel {
    padding: 30px 0 10px 0;
    .prev, .next {
        display: none;
    }
    .tns-nav {
        display: block;
    }
}
}