.feed-form {
    display: flex;
    flex-direction: column;
    width: 303px;
    margin-top: 30px;
    input {
        border-radius: 5px;
        background-color: #ffffff;
        border: none;
        height: 54px;
        margin-bottom: 12px;
        padding: 0 20px 0 20px;
        font-size: 14px;
        color: #4b4b4b;
        font-size: 14px;
        font-weight: 300;
        &:nth-child(3) {
            margin-bottom: 17px;
        }
    }
    &_mt25 {
        margin-top: 25px;
    }
}